#new-tweet button {
  background: #4056A1;
  color: white;
  font-family: "Bungee", sans-serif;
  padding: 10px;
}

.counter {
  font-family: "Bungee", sans-serif;
} 

#tweet-text {
  border-bottom: solid black 5px;
  width: 90%;
  margin-left: 5%;
  background: #f4f1ec;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

#new-tweet div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  padding: 20px 0;
}

#new-tweet label {
  margin-left: 5%;
  font-size: 40px;
  font-weight: 700;
}


/* new */


.icons-render {
  display: none;
}

article:hover .icons-render{
  display: inline;
}

#render-tweet article {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border: solid black 5px;
  padding: 20px;
  margin-bottom: 50px;
}
#render-tweet article:hover {
  box-shadow: 10px 10px #888888;
  font-weight: bold;
}

#render-tweet header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

#render-tweet header span {
  margin-left: auto;
}

#render-tweet article hr {
  background: black;
  top: 20px;
  border: none;
  height: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#render-tweet img {
  width: 10%;
}

#render-tweet footer img {
  width: 30px;
}

#render-tweet footer {
  display: flex;
  align-items: center;
}

#render-tweet footer span {
  margin-left: auto;
}

#alert-Box {
  display: flex;
  border: solid red 5px;
  border-radius: 15px;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
  display:none;
}

#alert-Box div {
  display: flex;
  align-items: center;
}

#alert-Box img {
  width: 10%;
}


.handle {
  display: none;
}

article:hover .handle {
  display: inline;
}
